/auction/target/
/GenerateKeyApp/nbproject/private/
/GenerateKeyApp/build/
/GenerateKeyApp/dist/
/DecryptFile/build/
/DecryptFile/dist/
/DecryptFile/nbproject/private/
/AuctionClient/build/
/AuctionClient/dist/
/AuctionClient/nbproject/private/
/SignApplication/nbproject/private/
/SignApplication/build/
/SignApplication/dist/
/OpdrachtTwee/nbproject/private/