/auction/target/
/GenerateKeyApp/nbproject/private/
/DecryptFile/nbproject/private/
AuctionClient/build/generated/jax-wsCache/WebRegistration/web/GetUser.java
*.java
AuctionClient/build/classes/web/package-info.class
*.class
AuctionClient/build/built-jar.properties
*.wsdl
*.TXT
AuctionClient/build/test/results/TEST-JPARegistrationMgrTest.xml
*.xml
*.xsd
AuctionClient/dist/AuctionClient.jar
*.jar
AuctionClient/nbproject/private/private.properties